:root {
    --slate: #434455;
    --navyblue: #2E2F42;
    --white: #fff;
    --iris: #4D5AE5;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
    --ocean: #404BBF;

}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate, #434455);
    background-color: #fff;
}
.link {
    color: currentColor;
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
        font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17px;
        letter-spacing: 0.03em;

        color: var(--iris);
}

button { 
    font-family: inherit;
    cursor: pointer;
}

.header-logo {
    color: var(--navyblue)
}

.nav-list {
    color: var(--navyblue, #2E2F42);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.nav-link:hover, 
.nav-link:focus {
    color: var(--ocean);
}

.header-contacts {
    font-style: normal;
}

.contacts-link {
    color: var(--slate);
}

.contacts-link:hover, 
.contacts-link:focus {
    color: var(--ocean);
}


.hero-section {
    background: var(--navyblue, #2E2F42);
}

.hero-title {

        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--white)
}

.button {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
    
    
        color: var(--white);
        background-color: var(--iris);
 
}

.button:hover, 
.button:focus {
    background-color: var(--ocean);
}

.section-title {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--navyblue);
}

.title {

        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;

        color: var(--navyblue);
  
}
.text {

        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}


.team-section {
    background: var(--cloud, #F4F4FD);
}

.footer {
    background: var(--navyblue, #2E2F42);
    color: var(--cloud)
}

.footer-logo {
    color: var(--cloud);
}